# Ignore all datasets except a few
datasets/*
!/datasets/backgrounds
!/datasets/singles_lab
!/datasets/singles_lab_masked

# Ignore unnecessary files
.dockerignore
.DS_Store
.gitignore
.gitmodules
Dockerfile
LICENSE
README.md
**/__pycache__
stuff
examples
image_generation_multi_plant.code-workspace
test